<nav class="main-menu">
	<a href="index.html">
		<img src="images/logo-small.png" alt="Cooking Chef" class="logo-nav">
	</a>
	<ul>
		<li><a href="{{ path('recipe_new') }}"><i class="fa fa-plus-circle"></i> Ajouter une recette</a></li>
		<li><a href="#"><i class="fa fa-cutlery"></i> Recettes</a></li>
		{% if app.user %}
			<li>
				<a href="{{ path('recipe_new') }}">
					<i class="fa fa-plus-circle"></i>
					Ajouter une recette
				</a>
			</li>
		{% endif %}
		<li><a href="#"><i class="fa fa-video-camera"></i> Vidéos</a></li>
		{% if app.user %}
			{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('easyadmin') }}"><i class="fa fa-cogs"></i>Administration</a></li>
			{% endif %}
			<li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Log out</a></li>
		{% else %}
			<li><a href="{{ path('app_register') }}"><i class="fa fa-sign-in"></i> Register</a></li>
			<li><a href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i> Log in</a></li>
		{% endif %}
	</ul>
</nav>