<article>
	<a href="{{ path('recipe_show', {'slug': recipe.slug}) }}">
		<img src="{{ asset('uploads/' ~ recipe.picture) }}" alt="{{ recipe.title}}" class="img-responsive">
	</a>
	<h2><a href="{{ path('recipe_show', {'slug': recipe.slug}) }}">{{ recipe.title }}</a></h2>
	<footer>
		<div class="label"><a href="#" class="like"><i class="fa fa-heart"></i></a> 12</div>
		<div class="label">
			<i class="fa fa-cutlery"></i>
			<a href="{{ path('category_show', {'slug': recipe.category.slug}) }}">
				{{ recipe.category.label }}
			</a>
			{% for tag in recipe.tags %}
			<a href="{{ path('tag_show', {'slug': tag.slug}) }}">
				#{{ tag.label}}
			{% endfor %}
			</a>
		</div>
			<div class="label">
				<i class="fa fa-user"></i>
				{{ recipe.user.pseudo }}
			</div>



	</footer>
</article>