{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} - {{recipe.title}}{% endblock %}

{% block headerImage %}{{ asset('uploads/' ~ recipe.picture) }}{% endblock %}
{% block headerTitle %}{{ recipe.title }}{% endblock %}

{% block body %}
    <main class="container">

        <section class="row">
            <div class="col-md-4">
                <img src="{{ asset('uploads/' ~ recipe.picture) }}" alt="{{ recipe.title}}" class="img-responsive">
                <div class="label"><a href="#" class="like"><i class="fa fa-heart"></i></a> 42</div>
                <div class="label"><i class="fa fa-cutlery"></i>{{ recipe.category.label}}</div>
                <div class="label"><i class="fa fa-user"></i> Etienne H.</div>
                <ul style="">
                    {% for tag in recipe.tags%}
                        <a href="{{ path('tag_show', {'slug': tag.slug}) }}">
                        <li> #{{ tag.label }} </li> </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">

                <ul>
                    {#todo ajouter methodes dans recipe pour retourner les temps formatés #}
                    <li>Temps de préparation : {{ recipe.preparationTimeFormatted}}</li>
                    <li>Temps de cuisson : {{ recipe.bakingTimeFormatted }}</li>
                </ul>
                <ul>
                    {% for step in recipe.steps  %}
                    <li>{{ step.number }} : {{ step.description }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Ingrédients</h2>
                <ul>
                    {% for recipeIngredient in recipe.recipeIngredients %}
                    <li>{{ recipeIngredient.ingredient.label }} : {{ recipeIngredient.quantity}} {{ recipeIngredient.unit.label }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>



    </main>
{% endblock %}
